<div class="row">

  {{!-- form to create a new post --}}
 <div class="col-sm-6">
  <div class="card shadow-lg rounded p-4 mb-4" style="transform: translateZ(0); transition: transform 0.3s;">
    <h3 class="card-title">Create a New Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-title">Title:</label>
        <input class="form-control" type="text" id="project-title" name="project-title" />
      </div>

      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-control" id="project-desc" name="project-desc"></textarea>
      </div>

      <div class="form-group">
        <label for="project-date">Select a date:</label>
        <input type="date" class="form-control" id="project-date" name="project-date">
      </div>

      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary">Create</button>
      </div>
    </form>
  </div>
</div>

  {{!-- form to see post  --}}
  <div class="col-sm-6">
    {{#if postArray.length}}
    <div class="col-md-12 project-list-try">
      <h3>Current Post:</h3>

      <div class="accordion" id="postArrayAccordion">
        {{#each postArray as |project index|}}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{index}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse{{index}}" aria-expanded="false" aria-controls="collapse{{index}}">
              {{project.title}}
            </button>
          </h2>
          <div id="collapse{{index}}" class="accordion-collapse collapse" aria-labelledby="heading{{index}}"
            data-bs-parent="#postArrayAccordion">
            <div class="accordion-body">
              <p><strong>Description:</strong> {{project.desc}}</p>
              <p>Created by {{project.user.name}} on {{format_date project.date}}</p>

              <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>




<script src="./js/profile.js"></script>